.w3-bluesymk
{
	background-color:blue;
}
.w3-text-bluesymk
{
	color:blue; font-weight:bold;
}
.w3-text-red
{
	color:blue; font-weight:bold;
}
.all{margin:5px	 !important;}
.symk{
	margin:0 5px 5px 5px ; border-radius:3px; border:5px solid #2196F3;
}
.symk a{
	text-decoration: none;
}
.symk div.w3-bar .w3-bar-item
{
	padding:5px 4px; display:inline-block;font-weight: bold;
}
.symk .w3-text-yellow
{
	color:yellow !important;
	
}
.symk .tabs
{
	padding:2px;
}
.w3-bar-item{
text-overflow: ellipsis;
overflow: hidden;}



table 
{
	width:100%;
	border:5px solid #2196F3;
	border-radius:3px;
	border-spacing:0;
	text-align:left;
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 82.5%;
}
table th a
{
	color:yellow !important;
	padding:5px 4px;
	font-size:12px;
}
table th
{
	background-color:#2196F3;
	border:none;
	font-size: 82.5%;
}

table tr
{
	background-color:#2196F3;
}

table td
{
	background-color:white;
	text-align:left;
	padding:5px;
}
table th
{
	text-align:left;
	padding:5px;
}
table tbody tr.odd td {
    background-color:#F0F0F6;
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
    background-color: #e6EEEE;
}
table tbody tr:hover td {
    background: #8dbdd8;
}

tr:nth-child(2), tr:nth-last-child(1)
{
	display:none;
}
tr:nth-child(3) td:first-child
{
	border-radius: 3px 0 0 0;
}
tr:nth-child(3) td:last-child
{
	border-radius: 0 3px 0 0 ;
}
tr:nth-last-child(2) td:first-child
{
	border-radius: 0 0 0 3px  ;
}
tr:nth-last-child(2) td:last-child
{
	border-radius: 0 0 3px  0 ;
}
table th a
{
	color:black;
	text-decoration:none;
	font-weight:bold;
}
table td a
{
	color:black;
	text-decoration:none;
	font-weight:normal;
	
}
table td
{
	border-bottom:1px solid #92a9d1;
}
table td:first-child , table th:first-child 
{
	padding:2;
}
table th:first-child img
{
	height:0px;
}
table td:first-child img
{
	height:22px;
}
hr{
	border:none;
}
iframe
{
    width: 100%;
    height: 875px;
	margin:0;
    border: 0;
}
.iframe
{
	float:left;	
	width:50%;
	
}